mat-toolbar {
  a {
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    img {
      width: 50%;
      margin-top: 1rem;
      cursor: pointer;
    }
  }

  ul {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
  }
}
