<mat-toolbar color="primary">
  <ul>
    <li>
      <a href="/">
        <img src="assets/onlygains-logo.png" alt="logo" />
      </a>
    </li>
    <li>
      <ul>
        <li>
          <a href="/" mat-button>Начало</a>
        </li>
        <li>
          <a href="/blog" mat-button>Блог</a>
        </li>
        <li>
          <a href="/posts" mat-button>Теми</a>
        </li>
        <li>
          <a href="/categories" mat-button>Категории</a>
        </li>
      </ul>
    </li>
    <li>
      <ul>
        <li>
         <a href="/users/login" mat-icon-button>
            <mat-icon>login</mat-icon>
         </a> 
        </li>
        <li>
          <a href="/users/logout" mat-icon-button>
            <mat-icon>follow_the_signs</mat-icon>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</mat-toolbar>
