<mat-toolbar color="primary">
  <ul>
    <li>
      <a routerLink="/">
        <img src="assets/logo-no-background.png" alt="logo" />
      </a>
    </li>
    <li>
      <ul>
        <li>
          <a routerLink="/" mat-button>Начало</a>
        </li>
        <li>
          <a routerLink="/posts" mat-button>Теми</a>
        </li>
        <li>
          <a routerLink="/blog" mat-button>Тренировки</a>
        </li>
        <li>
          <a routerLink="/categories" mat-button>Категории</a>
        </li>
      </ul>
    </li>
    <li>
      <ul>
        <li>
          <a routerLink="/users/login" mat-icon-button>
            <mat-icon>login</mat-icon>
          </a>
        </li>
        <li>
          <a routerLink="/users/logout" mat-icon-button>
            <mat-icon>follow_the_signs</mat-icon>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</mat-toolbar>
