<article class="inspirational">
  <article class="text">
    <p>
      Тук ще намерите програми, подходящи както за начинаещи, така и за
      напреднали. Ще Ви помогнем да влезете във форма, да подобрите качеството
      си на живот и да бъдете по здравословни. Не е нужно да купувате някаква специална екипировка, едни стари гуменки
      или маратонки, тениска и удобни гащи ще са повече от достатъчни
    </p>
    <p>
      С нашите здравословни рецепти ще поддържане форма, докато хапвате нещо
      вкусно <mat-icon>fitness_center</mat-icon>
    </p>
    <p>Започнете сега и постигнете своите цели с наша помощ.</p>
  </article>

  <article class="image-wrapper">
    <img src="/assets/images/running.jpg" alt="People running">
  </article>
</article>
