<aside class="side-bar-container">
  <section
    class="categories-container"
    *ngIf="categories$ | async; let categories"
  >
    <h3 class="title">Категории</h3>
    <ul class="categories">
      <li class="category" *ngFor="let category of categories">
        <a
          mat-button
          routerLink="/posts/{{ category.translatedName }}/{{ category.id }}"
          >{{ category.name }}</a
        >
      </li>
    </ul>
  </section>
  <section *ngIf="popularPosts$ | async; let posts">
    <h3 class="title">Популярни теми</h3>
    <article class="post" *ngFor="let post of posts">
      <img class="post-image" [src]="post.imageUrl" />
      <div class="post-wrapper">
        <div>
          <gains-tag
            [tag]="{
              name: post.categoryName,
              id: post.categoryId,
              translatedName: post.categoryNameTranslation
            }"
            urlPrefix="/posts"
          ></gains-tag>
        </div>
        <a
          mat-button
          class="post-title"
          routerLink="/posts/details/{{ post.id }}/{{ post.title }}"
          >{{ post.title }}</a
        >
      </div>
    </article>
  </section>
  <section *ngIf="tags$ | async; let tags">
    <h3 class="title">Тагове</h3>
    <section class="tags">
      <gains-tag
        class="tag"
        *ngFor="let tag of tags"
        [tag]="tag"
        urlPrefix="/posts/tags"
      ></gains-tag>
    </section>
  </section>
</aside>
