<ng-container *ngIf="!isWorkout; else workout">
  <aside class="side-bar-container">
    <section
      class="categories-container"
      *ngIf="categories$ | async; else loading; let categories"
    >
      <h3 class="title">Категории</h3>
      <ul class="categories">
        <li class="category" *ngFor="let category of categories" trackById>
          <a
            mat-button
            routerLink="/posts/list/Category/{{ category.translatedName }}/{{
              category.id
            }}"
            >{{ category.name }}</a
          >
        </li>
      </ul>
    </section>
    <section *ngIf="posts$ | async; else loading; let posts">
      <h3 class="title">{{ postsTitle }}</h3>
      <article class="post" *ngFor="let post of posts" trackById>
        <img class="post-image" [src]="post.imageUrl" />
        <div class="post-wrapper">
          <div>
            <active-tag
              [tag]="{
                name: post.categoryName,
                id: post.categoryId,
                translatedName: post.categoryNameTranslation
              }"
              urlPrefix="/posts"
              type="Category"
            ></active-tag>
          </div>
          <a
            mat-button
            class="post-title"
            routerLink="/posts/details/{{ post.id }}/{{ post.title }}"
            >{{ post.title }}</a
          >
        </div>
      </article>
    </section>
    <section *ngIf="tags$ | async; else loading; let tags">
      <h3 class="title">Всички тагове</h3>
      <section class="sidebar-tags">
        <active-tag
          class="sidebar-tag"
          *ngFor="let tag of tags"
          [tag]="tag"
          urlPrefix="/posts"
          type="Tag"
          trackById
        ></active-tag>
      </section>
    </section>
  </aside>
</ng-container>

<ng-template #loading>
  <active-spinner></active-spinner>
</ng-template>

<ng-template #workout>
  <aside class="side-bar-container workout-side-bar">
    <div class="person">
      <section>
        <p>Пешо Гошев</p>
        <p>31 години</p>
      </section>
      <div class="body-measurements">
        <section class="measurement">
          <p>Килограми</p>
          <p>115 кг</p>
        </section>
        <section class="measurement">
          <p>Височина</p>
          <p>178 см</p>
        </section>
      </div>
    </div>
    <ul>
      <li>
        <a mat-button href="">
          <mat-icon color="primary">dashboard</mat-icon>
          <span> Профил</span></a
        >
      </li>
      <li>
        <a mat-button href="">
          <mat-icon color="accent">star</mat-icon>
          <span> Цели</span></a
        >
      </li>
      <li>
        <a mat-button href="">
          <mat-icon color="primary">fitness_center</mat-icon>
          <span> Тренировки</span></a
        >
      </li>
      <li>
        <a mat-button href="">
          <mat-icon color="primary">fitness_center</mat-icon>
          <span> Упражнения</span></a
        >
      </li>
      <li>
        <a mat-button href="">
          <mat-icon color="accent">military_tech</mat-icon>
          <span> Постижения</span></a
        >
      </li>
      <li>
        <a mat-button href="">
          <mat-icon color="primary">pie_chart_outlined</mat-icon>
          <span> Статистики</span></a
        >
      </li>
    </ul>
  </aside>
</ng-template>
