@use "variables" as *;

.side-bar-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  padding-right: 3rem;
  flex-basis: 30%;
}

.sidebar-tags,
.categories {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: $dark-gray;
}

.categories-container {
  padding-bottom: $one-rem;
}

.category a {
  text-decoration: none;
  color: #808080;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-weight: bold;
}

.post {
  display: flex;
  margin: $one-rem 0;
  background-color: gainsboro;
  border-radius: 5px;
  overflow: hidden;
}

.post-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.post-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: $half-rem;

  div {
    margin-top: $half-rem;
  }
}

.post-title {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-decoration: none;
  font-size: 18px;
  color: $dark-gray;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.sidebar-tag {
  margin: $half-rem;
}

.sidebar-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

// Workout side bar styling
.workout-side-bar {
  background-color: #e0e0e0;
  border-radius: $half-rem;

  div.person {
    padding-top: $one-rem;
  }

  div.person,
  ul {
    padding-left: $one-rem;
  }

  .body-measurements {
    display: flex;
    flex-direction: row;
  }

  .measurement {
    padding-right: $half-rem;
  }

  li a {
    color: $dark-gray;
  }
}
