<aside class="side-bar-container">
    <section
      class="categories-container"
      *ngIf="categories$ | async; else loading; let categories"
    >
      <h3 class="title">Категории</h3>
      <ul class="categories">
        <li class="category" *ngFor="let category of categories" trackById>
          <a
            mat-button
            routerLink="/posts/{{ category.translatedName }}/{{ category.id }}"
            >{{ category.name }}</a
          >
        </li>
      </ul>
    </section>
    <section *ngIf="posts$ | async; else loading; let posts">
      <h3 class="title">{{postsTitle}}</h3>
      <article class="post" *ngFor="let post of posts" trackById>
        <img class="post-image" [src]="post.imageUrl" />
        <div class="post-wrapper">
          <div>
            <gains-tag
              [tag]="{
                name: post.categoryName,
                id: post.categoryId,
                translatedName: post.categoryNameTranslation
              }"
              urlPrefix="/posts"
            ></gains-tag>
          </div>
          <a
            mat-button
            class="post-title"
            routerLink="/posts/details/{{ post.id }}/{{ post.title }}"
            >{{ post.title }}</a
          >
        </div>
      </article>
    </section>
    <section *ngIf="tags$ | async; else loading; let tags">
      <h3 class="title">Всички тагове</h3>
      <section class="sidebar-tags">
        <gains-tag
          class="sidebar-tag"
          *ngFor="let tag of tags"
          [tag]="tag"
          urlPrefix="/posts"
          trackById
        ></gains-tag>
      </section>
    </section>
  </aside>
  
  <ng-template #loading>
    <mat-spinner value="70" diameter="30"></mat-spinner>
  </ng-template>