<section class="container">
  <section
    class="card-container"
    infinite-scroll
    [infiniteScrollDistance]="2.5"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()"
    [scrollWindow]="false"
    infiniteScrollContainer=".mat-typography"
    [fromRoot]="true"
  >
    <div *ngFor="let post of items; trackById">
      <active-post-card [post]="post"></active-post-card>
    </div>
  </section>
  <section class="side-bar">
    <active-side-bar></active-side-bar>
  </section>
</section>
