@use 'variables' as *;

.container {
  padding: 3rem 2.5rem;
  align-items: flex-start;
}

.container,
.card-container {
  display: flex;
  gap: $one-rem;
}

.card-container {
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: $one-rem;
  width: $max-size;
  justify-content: center;
}

.side-bar {
  flex-basis: 30%;
}
