<!-- Comment List Start -->
<section class="comments">
  <h3>Коментари</h3>
  @for (rootComment of getRootComments(); track rootComment.id) {
    <active-comment
      [comment]="rootComment"
      [replies]="getReplies(rootComment)"
      [activeComment]="activeComment"
      (setActiveComment)="setActiveComment($event)"
      (addComment)="addComment($event)"
      (deleteComment)="deleteComment($event)"
      (updateComment)="updateComment($event)"
      [currentUserId]="currentUserId"></active-comment>
  }
</section>
<!-- Comment List End -->

<!-- Comment Form Start -->
<section class="add-comment">
  <h3 #commentTitle>Оставете коментар</h3>
  @defer (on viewport(commentTitle)) {
    <active-comment-form
      submitLabel="Коментирай"
      (handleSubmit)="
        onSubmit({ text: $event, commentId: null })
      "></active-comment-form>
  }
</section>
