<mat-tab-group>
  <mat-tab label="Създай статия">
    <ng-template matTabContent>
      <active-create-post
        [categories]="categories$ | async"
        [tags]="tags$ | async"
        (submit)="onPostSbumit($event)"
      ></active-create-post>
    </ng-template>
  </mat-tab>
  <mat-tab label="Създай упражнение">
    <ng-template matTabContent>
      <active-create-exercise
        [equipment]="equipment$ | async"
        [muscleGroups]="muscleGroups$ | async"
        [variations]="variations$ | async"
        (input)="onExerciseSearch($event)"
        (submit)="onExerciseSubmit($event)"
      ></active-create-exercise>
    </ng-template>
  </mat-tab>
</mat-tab-group>
