<h1 class="post-header">{{title}}</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="form-items-container">
    <section class="editor-container">
      <gains-text-editor
        (editorInit)="onEditorInit($event)"
        (imageUpload)="onImageUpload($event)"
        (inputChanged)="onEditorInputChange($event)"
        [styling]="content?.styling"
        [template]="content?.template"
        folderUpload="exercises"
      >
      </gains-text-editor>
    </section>
    <section>
      <section>
        <h4>Име на английски</h4>
        <mat-form-field appearance="fill">
          <mat-label>Име на английски*</mat-label>
          <input matInput required formControlName="translatedName" />
        </mat-form-field>
      </section>
      <section>
        <h4>Избери уреди</h4>
        <gains-select
          label="Уреди"
          [selectableItems]="equipment$ | async"
          [control]="form.controls.equipment"
          [multiple]="true"
        ></gains-select>
      </section>
      <section>
        <h4>Избери основни мускулни групи</h4>
        <gains-select
          label="Мускулни групи"
          [selectableItems]="muscleGroups"
          [control]="form.controls.mainMuscleGroupsIds"
          [multiple]="true"
        ></gains-select>
      </section>
      <section>
        <h4>Избери допълнителни мускулни групи</h4>
        <gains-select
          label="Мускулни групи"
          [selectableItems]="muscleGroups"
          [control]="form.controls.synergisticMuscleGroupsIds"
          [multiple]="true"
        ></gains-select>
      </section>
      <section>
        <h4>Вариации</h4>
        <gains-auto-complete
          label="Вариации"
          placeholder="Търси вариации"
          [control]="form.controls.variations"
          [items]="variations$ | async"
          (onFieldInput)="onInput($event)"
        ></gains-auto-complete>
      </section>
      <gains-raised-button
        type="submit"
        color="primary"
        text="Създай"
      ></gains-raised-button>
    </section>
  </div>
</form>
