<ul
  cdkDropList
  #visibleList="cdkDropList"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListData]="visibleItems"
  [cdkDropListConnectedTo]="[hiddenList]"
  @list
>
  <li cdkDrag *ngFor="let item of visibleItems; trackById" @items>
    <active-check-list-item
      [item]="item"
      (itemChecked)="onChecked($event)"
      (itemEdited)="onEdit($event)"
      (itemDeleted)="onDelete($event)"
    ></active-check-list-item>
  </li>
</ul>
<ul
  cdkDropList
  #hiddenList="cdkDropList"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListData]="hiddenItems"
  [cdkDropListConnectedTo]="[visibleList]"
  @list
>
  <div *ngIf="isExpanded" @items>
    <li cdkDrag *ngFor="let item of hiddenItems; trackById">
      <active-check-list-item
        [item]="item"
        (itemChecked)="onChecked($event)"
        (itemEdited)="onEdit($event)"
        (itemDeleted)="onDelete($event)"
      ></active-check-list-item>
    </li>
  </div>
</ul>

<section class="button" *ngIf="hiddenItems.length">
  <div [@rotate]="isExpanded ? 'rotated' : 'default'">
    <button
      mat-icon-button
      color="primary"
      aria-label="Expand todo list"
      (click)="toggleExpand()"
    >
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</section>
