@use "variables" as *;

.card-text {
  font-weight: bold;
  letter-spacing: 0.0125rem;
  padding-top: 0.5rem;
  font-size: $one-rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-link,
.card-link-secondary {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.card-link {
  font-size: 1.5rem;
}

.card-link-secondary {
  font-size: 1.3rem;
}

.image-wrapper {
  max-height: 200px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.image {
  width: $max-size;
  max-height: $half-size;
  object-fit: cover;
}

.card-title,
.card-subtitle {
  padding-bottom: 5px;
}

.primary-img-wrapper {
  max-height: 42.2rem;
  overflow: hidden;
}

.card-img {
  width: $max-size
}
