<ng-container *ngIf="isMain; then mainCard; else secondaryCard"></ng-container>

<ng-template #mainCard>
  <mat-card>
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">
        <a routerLink="/posts/details/{{card?.id}}/{{card?.title | snakeCase}}" class="card-link light-gray-text" mat-flat-button> {{ card?.title }} </a>
      </mat-card-title>
      <mat-card-subtitle class="card-subtitle">{{
        card?.subtitle
      }}</mat-card-subtitle>
    </mat-card-header>
    <a class="primary-img-wrapper" routerLink="/posts/details/{{card?.id}}/{{card?.title | snakeCase}}">
      <img
        mat-card-image
        class="card-img"
        [src]="card?.imageUrl"
        alt="Post image"
      />
    </a>
    <mat-card-content>
      <p class="card-text light-gray-text">
        {{ card?.text }}
      </p>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #secondaryCard>
  <mat-card>
    <a routerLink="/posts/details/{{card?.id}}/{{card?.title | snakeCase}}" class="image-wrapper">
      <img class="image" [src]="card?.imageUrl" alt="Post image" />
    </a>
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">
        <a routerLink="/posts/details/{{card?.id}}/{{card?.title | snakeCase}}" class="card-link-secondary light-gray-text" mat-flat-button>
          {{ card?.title }}
        </a>
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</ng-template>
