<section class="service-section layout-padding">
  <div class="container">
    <div class="heading-container">
      <h2>Нашите категории</h2>
    </div>
    <div class="service-container">
      @for (category of categories; track category) {
      <div class="box">
        <img
          class="category-image"
          [src]="category.imageUrl"
          alt="category image"
        />
        <h6 class="visible-heading">{{ category.name }}</h6>
        <div class="link-box">
          <a
            routerLink="/posts/categories/{{ category.translatedName }}/{{
              category.id
            }}"
          >
            <img src="/assets/images/link.png" alt="link image" />
          </a>
          <h6>{{ category.name }}</h6>
        </div>
      </div>
      }
    </div>
  </div>
</section>
