<section class="service-section layout-padding">
  <div class="container">
    <div class="heading-container">
      <h2>Нашите категории</h2>
    </div>
    <div class="service-container">
      <div class="box">
        <img
          src="https://res.cloudinary.com/dpo3vbxnl/image/upload/v1691940539/onlygains/categories/istock-1155240408_stpuam.jpg"
          alt=""
        />
        <h6 class="visible-heading">CROSSFIT TRAINING</h6>
        <div class="link-box">
          <a href="">
            <img src="/assets/images/link.png" alt="" />
          </a>
          <h6>CROSSFIT TRAINING</h6>
        </div>
      </div>
      <div class="box">
        <img
          src="https://res.cloudinary.com/dpo3vbxnl/image/upload/v1691940539/onlygains/categories/istock-1155240408_stpuam.jpg"
          alt=""
        />
        <h6 class="visible-heading">FITNESS</h6>
        <div class="link-box">
          <a href="">
            <img src="/assets/images/link.png" alt="" />
          </a>
          <h6>FITNESS</h6>
        </div>
      </div>
      <div class="box">
        <img
          src="https://res.cloudinary.com/dpo3vbxnl/image/upload/v1691940539/onlygains/categories/istock-1155240408_stpuam.jpg"
          alt=""
        />
        <h6 class="visible-heading">DYNAMIC STRENGTH TRAINING</h6>
        <div class="link-box">
          <a href="">
            <img src="/assets/images/link.png" alt="" />
          </a>
          <h6>DYNAMIC STRENGTH TRAINING</h6>
        </div>
      </div>
      <div class="box">
        <img
          src="https://res.cloudinary.com/dpo3vbxnl/image/upload/v1691940539/onlygains/categories/istock-1155240408_stpuam.jpg"
          alt=""
        />
        <h6 class="visible-heading">HEALTH</h6>
        <div class="link-box">
          <a href="">
            <img src="/assets/images/link.png" alt="" />
          </a>
          <h6>HEALTH</h6>
        </div>
      </div>
      <div class="box">
        <img
          src="https://res.cloudinary.com/dpo3vbxnl/image/upload/v1691940539/onlygains/categories/istock-1155240408_stpuam.jpg"
          alt=""
        />
        <h6 class="visible-heading">WORKOUT</h6>
        <div class="link-box">
          <a href="">
            <img src="/assets/images/link.png" alt="" />
          </a>
          <h6>WORKOUT</h6>
        </div>
      </div>
      <div class="box">
        <img
          src="https://res.cloudinary.com/dpo3vbxnl/image/upload/v1691940539/onlygains/categories/istock-1155240408_stpuam.jpg"
          alt=""
        />
        <h6 class="visible-heading">STRATEGIES</h6>
        <div class="link-box">
          <a href="">
            <img src="/assets/images/link.png" alt="" />
          </a>
          <h6>STRATEGIES</h6>
        </div>
      </div>
    </div>
  </div>
</section>
