@use "variables" as *;

.comment-form-title {
  font-size: 22px;
}

.comment-form-textarea {
  width: $max-size;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: $white;
}

button {
  margin: $one-rem;
}