.large-icon-button {
  width: 40px !important;
  height: 40px !important;
  padding: 0px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role="img"] {
    width: 40px;
    height: 40px;
    font-size: 40px;

    svg {
      width: 40px;
      height: 40px;
    }
  }

  .mat-mdc-button-touch-target {
    width: 40px !important;
    height: 40px !important;
  }
}

.cursor-all-scroll {
    cursor: all-scroll !important;
}