section {
  display: flex;
  flex-direction: column;
}

gains-recent-posts {
  background-image: linear-gradient(
      to right,
      rgba(6, 10, 54, 0.8),
      rgba(6, 10, 54, 0.8)
    ),
    url('/assets/images/initial.jpg');
}
