<section>
  <article class="intro">
    <div class="heading">
      <h1>Твоята онлайн платформа за здравословен начин на живот</h1>
      <h3>Подобрете начинът си на живот с нас</h3>
    </div>

    <div class="texts">
      <p>
        Ако не знаете все още как да започнете да спортувате, тук сте на
        правилното място!
      </p>
      <p>
        Ще намерите изчерпателна информация за различни видове спорт - вдигане
        на тежести, плуване, бягане и много други
      </p>
      <p>
        С нашите здравословни рецепти ще поддържане форма, докато хапвате нещо
        вкусно
      </p>
    </div>
  </article>
  <article class="carousel">
    <gains-carousel></gains-carousel>
  </article>
</section>
