<section>
  <active-intro></active-intro>
  @defer (on viewport) {
    <active-inspirational></active-inspirational>
  } @placeholder {
    <active-spinner class="centered"></active-spinner>
  }
  @defer (on viewport) {
    <active-recent-posts [cardResources]="posts$ | async"></active-recent-posts>
  } @placeholder {
    <active-spinner class="centered"></active-spinner>
  }
  @defer (on viewport) {
    <section class="service-section layout-padding">
      <div class="container">
        <div class="heading-container">
          <h2>Нашите категории</h2>
        </div>
        <active-categories
          [categories]="categories$ | async"></active-categories>
      </div>
    </section>
  } @placeholder {
    <active-spinner class="centered"></active-spinner>
  }
</section>
