<section class="container">
    <article class="inner-container">
        <p class="info-title orange-text">Тегло</p>
        <div class="unit-container">
            <p class="num">110</p>
            <p class="secondary-text">кг</p>
        </div>
    </article>
    <article class="inner-container">
        <p class="info-title blue-text">Височина</p>
        <div class="unit-container">
            <p class="num">178</p>
            <p class="secondary-text">см</p>
        </div>
    </article>
    <article class="inner-container">
        <p class="info-title red-text">Възраст</p>
        <div class="unit-container">
            <p class="num">31</p>
            <p class="secondary-text">г.</p>
        </div>
    </article>
    <article class="inner-container">
        <p class="info-title green-text">BMI</p>
        <p class="num">10.5</p>
    </article>
    <article class="inner-container">
        <p class="info-title green-text">Цел</p>
        <p class="num">Сваляне на кг</p>
    </article>
    <article class="inner-container">
        <p class="info-title red-text">BMR</p>
        <div class="unit-container">
            <p class="num">3121</p>
            <p class="secondary-text">kcal</p>
        </div>
    </article>
</section>