<section class="container">
  <article class="inner-container">
    <p class="info-title orange-text">Тегло</p>
    <div class="unit-container">
      <active-inline-edit
        class="num max-size"
        [value]="user?.weight?.weight"
        label="Тегло в кг"
        (update)="onSubmitData()"
        [control]="form.controls.weight"
        errorMessage="Въведете число между 10 и 500"
      ></active-inline-edit>
      <p class="secondary-text">{{ user?.weight?.weightType }}</p>
    </div>
  </article>
  <article class="inner-container">
    <p class="info-title blue-text">Височина</p>
    <div class="unit-container">
      <active-inline-edit
        class="num max-size"
        [value]="user?.height?.height"
        label="Височина в см"
        (update)="onSubmitData()"
        [control]="form.controls.height"
        errorMessage="Въведете число между 10 и 300"
      ></active-inline-edit>
      <p class="secondary-text">{{ user?.height?.heightType }}</p>
    </div>
  </article>
  <article class="inner-container">
    <p class="info-title red-text">Възраст</p>
    <div class="unit-container">
      <active-inline-edit
        class="num max-size"
        [value]="user?.age"
        label="Възраст"
        (update)="onSubmitData()"
        [control]="form.controls.age"
        errorMessage="Въведете число между 1 и 130"
      ></active-inline-edit>
      <p class="secondary-text">г.</p>
    </div>
  </article>
  <article class="inner-container">
    <p class="info-title green-text">BMI</p>
    <p class="num small-padding" *ngIf="user?.bmi">{{ user?.bmi }}</p>
    <div class="active-button" *ngIf="!user?.bmi">
      <active-icon-button
        iconType="calculate"
        ariaLabel="calculate my bmi"
        classStyling="large-icon-button"
        (click)="onCalculateBmiClick()"
      ></active-icon-button>
    </div>
  </article>
  <article class="inner-container">
    <p class="info-title green-text">Цел</p>
    <p class="num">Сваляне на кг</p>
  </article>
  <article class="inner-container">
    <p class="info-title red-text">BMR</p>
    <div class="unit-container" *ngIf="user?.bmr?.calories">
      <p class="num">{{ user?.bmr?.calories }}</p>
      <p class="secondary-text">{{ user?.bmr?.unitType }}</p>
    </div>
    <div class="active-button" *ngIf="!user?.bmr?.calories">
      <active-icon-button
        iconType="calculate"
        ariaLabel="calculate my bmr"
        classStyling="large-icon-button"
        (click)="onCalculateBmrClick()"
      ></active-icon-button>
    </div>
  </article>
</section>
