$light-blue: #00bcd4;

$black: #363839;

$dark-gray: #343a40;
$light-gray: #525252;

$white: #fff;
$dark-white: #e9e8e8;
$bold-white: #bbbbbb;

$yellow: #f8bc1a;

$red: red;

$orange: #ff3502;

$green: #51f704;
$dark-green: #2f9102;

$max-size: 100%;
$half-size: 50%;

$one-rem: 1rem;
$half-rem: 0.5rem;