//Colors
$light-blue: #00bcd4;
$black: #363839;
$dark-gray: #343a40;
$light-gray: #525252;
$light-gray-l: #adb4b5;
$light-gray-xl: rgb(211, 208, 208);
$white: #fff;
$dark-white: #e9e8e8;
$bold-white: #bbbbbb;
$yellow: #f8bc1a;
$red: red;
$orange: #ff3502;
$green: #51f704;
$dark-green: #2f9102;
$primary: #3f51b5;

//Sizes
$max-size: 100%;
$half-size: 50%;
$one-rem: 1rem;
$half-rem: 0.5rem;

//Font weight
$normal: 500;
$bold-sm: 600;
$bold-lg: 700;
$bold-xl: 800;

//Font size
