<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <mat-chip-grid #chipGrid aria-label="Fruit selection">
    @for (variation of selectedItems(); track variation.id) {
    <mat-chip-row (removed)="remove(variation)">
      {{ variation.name }}
      <button matChipRemove [attr.aria-label]="'remove ' + variation.name">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    }
  </mat-chip-grid>
  <input
    placeholder="{{ placeholder }}"
    #inputItem
    [formControl]="getInputControl()"
    [matChipInputFor]="chipGrid"
    [matAutocomplete]="auto"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
  />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    @for (variation of items; track variation.id) {
    <mat-option [value]="variation">
      {{ variation.name }}
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
