<mat-form-field>
    <mat-label>{{label}}</mat-label>
    <mat-chip-grid #chipGrid aria-label="Fruit selection">
      <mat-chip-row
        *ngFor="let variation of selectedItems()"
        (removed)="remove(variation)"
      >
        {{ variation.name }}
        <button matChipRemove [attr.aria-label]="'remove ' + variation.name">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input
      placeholder="{{placeholder}}"
      #inputItem
      [formControl]="control"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (input)="onInput($event)"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option
        *ngFor="let variation of items"
        [value]="variation"
      >
        {{ variation.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>