<footer class="footer">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Вижте нашите:</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <ul>
        <li>
          <a mat-icon-button href="">
            <mat-icon svgIcon="facebook-icon"></mat-icon>
          </a>
        </li>
        <li>
          <a mat-icon-button href="">
            <mat-icon svgIcon="instagram-icon"></mat-icon>
          </a>
        </li>
      </ul>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Third Line</span>
      <span class="example-spacer"></span>
      <mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="Example heart icon"
        >favorite</mat-icon
      >
      <mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="Example delete icon"
        >delete</mat-icon
      >
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
