<article class="exercise-container" *ngIf="exercise">
  <section class="exercise-section">
    <section [innerHTML]="exercise.description | safeHtml">
    </section>
    <section class="exercise-muscle-groups">
      <h2 class="exercise-subheading">Използвани мускулни групи</h2>
      <section class="exercise-muscle-group">
        <div>
          <section class="exercise-main-muscle-groups">
            <div *ngFor="let muscle of getMainMuscleGroups() trackById">
              <p>Целева група: {{ muscle.translatedName }}</p>
            </div>
          </section>
          <section class="exercise-synergist-muscle-groups">
            <div *ngFor="let muscle of getSynergists() trackById">
              <p>Спомагателна група: {{ muscle.translatedName }}</p>
            </div>
          </section>
        </div>
        <gains-muscle-group></gains-muscle-group>
      </section>
    </section>
    <section class="exercise-variations">
      <h2 class="exercise-subheading">
        Standing Dumbbell Shoulder Press Variations
      </h2>
      <p>
        Variations of the standing dumbbell shoulder press can help add variety
        to your shoulder workout routine and target the muscles from different
        angles. Here are some common variations to consider:
      </p>
    </section>
    <section class="similar-exercises">
      <gains-similar-exercise
        *ngFor="let exercise of exercise.variations"
        [exercise]="exercise"
        trackById
      ></gains-similar-exercise>
    </section>
  </section>
  <section class="exercise-sidebar">
    <gains-side-bar postsTitle="Полезни теми"></gains-side-bar>
  </section>
</article>
