@import "variables";

.exercise-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 7rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.exercise-heading-container,
.exercise-how-to,
.exercise-tips,
.exercise-benefits {
  padding-bottom: $one-rem;
}

.exercise-heading,
.exercise-subheading {
  color: $dark-gray;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: $half-rem;
}

.exercise-sidebar {
  flex-basis: 30%;
}

.exercise-section {
  padding-right: 4rem;
  padding-left: 4rem;
  width: $max-size;
}

.exercise-ordered-list {
  counter-reset: item;

  li {
    counter-increment: item;
    padding: $half-rem;
  }

  li:before {
    content: counter(item) ". ";
  }
}

.exercise-tips-list {
  li:before {
    content: "•";
    color: $dark-gray;
    padding: $half-rem;
  }
}

p,
li {
  font-size: 16px;
  font-weight: 400;
}

strong {
  font-weight: 600;
  color: $dark-gray;
}

.exercise-gif-container {
  width: $half-size;
  margin: auto;
  padding: $one-rem;
}

.similar-exercises {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.similar-exercise {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $half-rem;
  padding: $one-rem;
  border: 1px solid $dark-gray;
  border-radius: $one-rem;
  box-shadow: 10px 10px 3px $light-blue;

  a {
    max-width: 200px;
    padding: $one-rem;
    text-decoration: none;
    color: $dark-gray;
    text-transform: uppercase;

    img {
      width: $max-size;
      padding: $one-rem;
    }
  }

  div {
    p {
      padding-left: $one-rem;
    }
  }
}

p {
  margin-bottom: $one-rem;
}
