<article class="exercise-container">
  <section class="exercise-section">
    <section>
      <section class="exercise-heading-container">
        <h1 class="exercise-heading">Standing Dumbbell Shoulder Press</h1>
        <p>
          The standing dumbbell shoulder press, also known as the “Dumbbell
          Overhead Press” or simply the “Shoulder Press,” is a strength training
          exercise that targets the muscles of the shoulder, primarily the
          deltoids. In this exercise, you lift a weight (usually dumbbells or a
          barbell) overhead while standing. It is an effective compound exercise
          that also engages other upper body muscles, including the triceps and
          upper chest.
        </p>
      </section>
      <section class="exercise-how-to">
        <h2 class="exercise-subheading">How to do:</h2>
        <div class="exercise-gif-container">
          <img
            src="https://res.cloudinary.com/dpo3vbxnl/image/upload/v1694870493/onlygains/exercises/no-bg_ff5h1t.gif"
            alt=""
          />
        </div>
        <ol class="exercise-ordered-list">
          <li>Stand with your feet shoulder-width apart.</li>
          <li>
            Hold a dumbbell in each hand at shoulder height, with your palms
            facing forward and your elbows bent at 90 degrees. You can start
            with the dumbbells at shoulder height or rest them on your
            shoulders.
          </li>
          <li>
            Exhale and push the dumbbells upward, extending your arms fully
            without locking your elbows at the top.
          </li>
          <li>
            Keep your head straight, and your back should not arch excessively.
            Maintain a neutral spine.
          </li>
          <li>
            Your wrists should remain in line with your forearms throughout the
            movement.
          </li>
          <li>
            At the top of the movement, your arms should be fully extended
            overhead.
          </li>
          <li>
            Inhale and slowly lower the dumbbells back to shoulder height in a
            controlled manner.
          </li>
        </ol>
      </section>
      <section class="exercise-tips">
        <h2 class="exercise-subheading">Trainer tips</h2>
        <ul class="exercise-tips-list">
          <li>
            Use a weight that challenges you but allows you to maintain proper
            form.
          </li>
          <li>
            Keep your core engaged to support your back and stabilize your body.
          </li>
          <li>Don’t arch your back or use momentum to lift the dumbbells.</li>
          <li>Maintain a controlled tempo throughout the exercise.</li>
          <li>
            Warm up your shoulders with some light stretching before starting
            the exercise.
          </li>
        </ul>
      </section>
      <section class="exercise-benefits">
        <h2 class="exercise-subheading">
          Benefits Of Standing Dumbbell Shoulder Press
        </h2>
        <p>
          <strong>Shoulder Strength:</strong> The standing dumbbell shoulder
          press is a compound exercise, meaning it involves multiple joints and
          muscle groups. This results in more muscle fibers being recruited,
          contributing to greater overall shoulder muscle development.
        </p>
        <p>
          <strong>Deltoid Development (Muscle Hypertrophy):</strong> The primary
          target of this exercise is the shoulder muscles (deltoids). When
          performed with sufficient resistance (weight), the shoulder press can
          stimulate muscle hypertrophy, which is the process of increasing the
          size and strength of your muscles. This is particularly beneficial for
          those looking to sculpt and define their shoulder muscles.
        </p>
        <p>
          <strong>Functional Strength:</strong> This exercise mimics movements
          that are often required in daily life, such as lifting objects
          overhead. It can improve your ability to perform daily tasks with
          ease.
        </p>
        <p>
          <strong>Balance and Stability:</strong> Standing while performing the
          press requires you to stabilize your core and lower body, promoting
          better balance and stability.
        </p>
        <p>
          This exercise is commonly used to build shoulder strength, improve
          shoulder muscle definition, and enhance upper body pressing strength.
          It’s a foundational exercise in many strength training programs and is
          valuable for both beginners and experienced lifters.
        </p>
      </section>
    </section>
    <section class="exercise-muscle-groups">
      <h2 class="exercise-subheading">Използвани мускулни групи</h2>
      <section class="exercise-muscle-group">
        <div>
          <section class="exercise-main-muscle-groups">
            <div *ngFor="let muscle of getMainMuscleGroups()">
              <p>Целева група: {{ muscle.translatedName }}</p>
            </div>
          </section>
          <section class="exercise-synergist-muscle-groups">
            <div *ngFor="let muscle of getSynergists()">
              <p>Спомагателна група: {{ muscle.translatedName }}</p>
            </div>
          </section>
        </div>
        <gains-muscle-group></gains-muscle-group>
      </section>
    </section>
    <section class="exercise-variations">
      <h2 class="exercise-subheading">
        Standing Dumbbell Shoulder Press Variations
      </h2>
      <p>
        Variations of the standing dumbbell shoulder press can help add variety
        to your shoulder workout routine and target the muscles from different
        angles. Here are some common variations to consider:
      </p>
    </section>
    <section class="similar-exercises">
      <gains-similar-exercise
        *ngFor="let exercise of getExercises()"
        [exercise]="exercise"
        trackById
      ></gains-similar-exercise>
    </section>
  </section>
  <section class="exercise-sidebar">
    <gains-side-bar postsTitle="Полезни теми"></gains-side-bar>
  </section>
</article>
