<div class="post-page-container" *ngIf="post$ | async; let post">
  <section class="post-comment-container" >
    <section class="post-container" [innerHTML]="post.text">
    </section>
      <section class="post-tags">
        <active-tag class="post-tag" urlPrefix="/posts" type="Tag" *ngFor="let tag of post.tags" [tag]="tag" trackById></active-tag>
      </section>
    <!-- News Detail End -->

    <!-- Comment List Start -->
   <active-comments [comments]="this.post!.comments" [currentUserId]="post.createdBy.id"></active-comments>
  </section>
  <!-- Comment Form End -->
  <section class="post-side-bar">
    <active-side-bar></active-side-bar>
  </section>
</div>
