@use "variables" as *;

.post-page-container {
  display: flex;
  padding: 3rem;
  gap: 2rem;
}

.post-side-bar {
  flex-basis: 30%;
}

.post-comment-container {
  margin: 1rem;
  background-color: rgb(226, 226, 226);
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
}

.post-main-image-container {
  max-height: 45rem;
  overflow: hidden;
}

.post-tag {
  padding: 0.25em;
  border-radius: 1em;
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration: none;
}

.post-tag-blue {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
}

.post-main-image {
  width: $max-size;
  height: $max-size;
  background-size: cover;
  object-fit: cover;
}

.post-secondary-image {
  width: 30%;
}

.post-image-left {
  float: left;
  padding-right: $one-rem;
  padding-bottom: 0.75rem;
}

.post-image-right {
  float: right;
  padding-left: $one-rem;
  padding-bottom: 0.75rem;
}

.post-text {
  font-size: $one-rem;
  padding-bottom: 0.75rem;
  margin-bottom: $one-rem;
  font-weight: 400;
  line-height: 1.5;
}

.px-1 {
  padding: 0, 0.75rem;
}

.post-text,
.post-intro {
  padding: 1.5rem;
}

.post-page-container {
  h1,
  h2,
  h3,
  h4 {
    color: $dark-gray;
  }

  h3,
  h4 {
    font-weight: 500;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  .second-post-half {
    padding-top: 3rem;
  }

  .first-post-half {
    margin-bottom: 2rem;
  }

  .post-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.5rem;
  }
}
