<p *ngIf="mode === 'view'" (click)="toggleEditMode()" class="view max-size">
  {{ value }}
</p>

<div *ngIf="mode === 'edit'">
  <mat-form-field appearance="outline" class="max-size">
    <mat-label>{{ label }}</mat-label>
    <input
      *ngIf="type === 'textbox'"
      autofocus
      class="input max-size"
      matInput
      [type]="type"
      name="input"
      [formControl]="control!"
      (focusout)="onFocusOut()"
      (keydown.enter)="onEnterPress($event)"
    />
    <textarea
      *ngIf="type === 'textarea'"
      autofocus
      class="input max-size"
      matInput
      name="input"
      [formControl]="control!"
      (focusout)="onFocusOut()"
      (keydown.enter)="onEnterPress($event)"
    ></textarea>
    <mat-error *ngIf="control.invalid">{{ errorMessage }}</mat-error>
  </mat-form-field>
</div>
