<h1 mat-dialog-title>Калкулирай своя BMI</h1>
<div mat-dialog-content>
  <div class="content">
    <section>
      <mat-radio-group
        aria-labelledby="radio buttons"
        class="radio-group"
        [(ngModel)]="bmiFormula"
        (ngModelChange)="onBmiFormulaChange($event)"
      >
        <li *ngFor="let key of bmiFormulas | keyvalue">
          <mat-radio-button
            [value]="key.key"
            aria-label="radio button for BMI formula {{ key.value.name }}"
          >
            {{ key.value.name }}
          </mat-radio-button>
          <active-tooltip
            [text]="key.value.description"
            position="right"
          ></active-tooltip>
        </li>
      </mat-radio-group>
    </section>
    <section>
      <h3>Изберете пол при раждане</h3>
      <mat-radio-group [(ngModel)]="gender" class="gender">
        <mat-radio-button value="M">M</mat-radio-button>
        <mat-radio-button value="F">F</mat-radio-button>
      </mat-radio-group>
    </section>
    <!-- <mat-form-field appearance="outline" class="max-size">
        <mat-label>{{ label }}</mat-label>
        <input
          autofocus
          class="input max-size"
          matInput
          type="text"
          name="input"
          (focusout)="onFocusOut()"
          (keydown.enter)="onEnterPress($event)"
        />
      </mat-form-field> -->
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Отказ</button>
    <button mat-button [mat-dialog-close]="bmiFormulas" cdkFocusInitial>
      Калкулирай
    </button>
  </div>
</div>
