@use "variables" as *;

h1 {
    text-align: center;
}

h1,h3 {
    color: $dark-gray;
}

.content {
    display: flex;
    flex-direction: row;
    gap: $one-rem;

    section {
        margin-top: $one-rem;
    }
}

.radio-group {
    display: flex;
    flex-direction: column;
    padding: 0px $one-rem $half-rem 0px;

    li {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.gender {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

mat-radio-button {
    white-space: nowrap;
}