@use "variables" as *;
.content {
    display: flex;
    flex-direction: row;
    gap: $one-rem;
}

.radio-group {
    display: flex;
    flex-direction: column;

    li {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}