/* post.component.css */
.post-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}

.editor-container {
  flex: 1;
  margin: 1rem;
}

.post-container {
  text-align: center;
  margin: 1rem;
}