<h1 class="post-header">Създай статия</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="form-items-container">
    <section class="editor-container">
      <active-text-editor
        (editorInit)="onEditorInit($event)"
        (imageUpload)="onImageUpload($event)"
        (inputChanged)="onEditorInputChange($event)"
        [styling]="styling"
        [template]="template"
        folderUpload="posts"
      >
      </active-text-editor>
    </section>
    <section class="category-tags-container">
      <section class="category-select">
        <h4>Избери категория</h4>
        <active-select
          label="Категория"
          [fullObjectValue]="true"
          [control]="form.controls.categoryId"
          (selectionChange)="categorySelect($event)"
          [selectableItems]="categories$ | async"
        ></active-select>
      </section>
      <section class="tags">
        <h4>Избери тагове</h4>
        <active-select
          label="Тагове"
          [multiple]="true"
          [selectableItems]="tags$ | async"
          [control]="form.controls.tags"
        ></active-select>
      </section>
      <active-raised-button
        type="submit"
        color="primary"
        text="Създай"
      ></active-raised-button>
    </section>
  </div>
</form>
