<h1 class="post-header">Създай статия</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="form-items-container">
    <section class="editor-container">
      <gains-text-editor
        (editorInit)="onEditorInit($event)"
        (imageUpload)="onImageUpload($event)"
        (inputChanged)="onEditorInputChange($event)"
        [styling]="styling"
        [template]="template"
        folderUpload="posts"
      >
      </gains-text-editor>
    </section>
    <section class="category-tags-container">
      <section class="category-select">
        <h4>Избери категория</h4>
        <mat-form-field>
          <mat-label>Категория</mat-label>
          <mat-select (selectionChange)="categorySelect($event)" formControlName="categoryId">
            <mat-option
              *ngFor="let category of categories$ | async"
              [value]="{
                id: category.id,
                translatedName: category.translatedName,
                name: category.name
              }"
              >{{ category.name }} / {{ category.translatedName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </section>
      <section class="tags">
        <h4>Избери тагове</h4>
        <mat-form-field>
          <mat-label>Тагове</mat-label>
          <mat-select [formControl]="form.controls.tags" multiple>
            <mat-option *ngFor="let tag of tags$ | async" [value]="tag.id"
              >{{ tag.name }} / {{ tag.translatedName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </section>
      <gains-raised-button type="submit" color="primary" text="Създай"></gains-raised-button>
    </section>
  </div>
</form>
