<section>
  <div class="checklist-header">
    <h3 class="dark-gray-text">
      Задачи за деня ({{ todoItems?.length | number }})
    </h3>
    <active-icon-button
      color="primary"
      ariaLabel="Add item to todo list"
      iconType="add_circle"
      (click)="showForm()">
    </active-icon-button>
  </div>
  @if (shouldShow) {
    <div [formGroup]="formGroup">
      <mat-form-field appearance="fill" color="primary" ngDefaultControl>
        <mat-label>Добавяне на задача</mat-label>
        <input matInput formControlName="name" (blur)="onBlur()" />
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </div>
  }
  <active-check-list
    [checklistItems]="todoItems"
    (itemChecked)="onItemChecked($event)"
    (itemEdited)="onItemEdited($event)"
    (itemDeleted)="onItemDeleted($event)"></active-check-list>
</section>
