@use 'variables' as *;

img {
  max-width: $max-size;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(22rem, calc(22rem + 3vw), 25rem);
  overflow: hidden;
  box-shadow: 0 0.1rem $one-rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ece9e6;
  background: linear-gradient(to right, $white, #ece9e6);
}

.card-body {
  padding: $one-rem;
  display: flex;
  flex-direction: column;
  gap: $half-rem;
}

.tag {
  align-self: flex-start;
}

.tag + .tag {
  margin-left: $half-rem;
}

.card-body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card-footer {
  display: flex;
  padding: $one-rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: $half-rem;
}

.user-image {
  border-radius: $half-size;
  width: 5rem;
  height: 5rem;
}

.user-info > small {
  color: #666;
}

.post-text {
  display: -webkit-box;
  max-height: 9rem;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-header {
  overflow: hidden;
}

.card-image {
  width: 30rem;
  height: 15rem;
}

h4 a {
  text-decoration: none;
  color: $dark-gray;
}
