@import "variables";

.recent-posts {
  padding: 6rem;
}

.posts-container {
  display: flex;
  gap: $one-rem;
  flex-direction: row;
  flex-wrap: nowrap;
}

.primary-post-container {
  max-width: 68%;
  height: $max-size
}

.secondary-post-container {
  max-width: 32%;
  display: flex;
  gap: $one-rem;
  flex-direction: column;
}
