<div class="container" #container>
  <div class="forms-container">
    <div class="signin-signup">
      @defer (when viewType === 'login'; on idle) {
        <form
          action="POST"
          class="sign-in-form"
          [formGroup]="loginForm"
          (ngSubmit)="onLogin()">
          <h2 class="title">Вход</h2>
          <active-input-field
            [control]="loginForm.controls.email"
            matIcon="person"
            type="text"
            placeholder="И-мейл"></active-input-field>
          <active-input-field
            [control]="loginForm.controls.password"
            matIcon="lock"
            type="password"
            placeholder="Парола"></active-input-field>

          @for (error of errors; track $index) {
            <p class="error">{{ error }}</p>
          }

          <active-input-button
            [disabled]="loginForm.invalid"
            type="submit"
            value="Вход"></active-input-button>
          <active-social-media
            text="Или използвайте някоя от социалните платформи"></active-social-media>
        </form>
      }

      @defer (when viewType === 'register'; on idle) {
        <form
          action="POST"
          class="sign-up-form"
          [formGroup]="registerForm"
          (ngSubmit)="onRegister()">
          <h2 class="title">Регистрация</h2>
          <active-input-field
            [control]="registerForm.controls.firstName"
            type="text"
            placeholder="Име"
            matIcon="person"></active-input-field>

          <active-input-field
            [control]="registerForm.controls.lastName"
            type="text"
            placeholder="Фамилия"
            matIcon="person"></active-input-field>

          <active-input-field
            [control]="registerForm.controls.email"
            type="email"
            placeholder="И-мейл"
            matIcon="email"></active-input-field>

          <active-input-field
            [control]="registerForm.controls.password"
            type="password"
            placeholder="Парола"
            matIcon="lock"></active-input-field>

          <active-input-field
            [control]="registerForm.controls.repeatPassword"
            type="password"
            placeholder="Повтори паролата"
            matIcon="lock"></active-input-field>

          @if (passwordsNotMatch()) {
            <p class="error">Паролите не съвпадат</p>
          }

          <active-input-button
            type="submit"
            value="Регистрация"></active-input-button>
          <active-social-media
            text="Или използвайте някоя от социалните платформи"></active-social-media>
        </form>
      }
    </div>
  </div>

  <active-panel
    (viewLogIn)="onViewLogin()"
    (viewRegister)="onViewRegister()"></active-panel>
</div>
