<h1 class="post-header">Създай статия</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="form-items-container">
    <section class="editor-container">
      <active-text-editor
        (editorInit)="onEditorInit($event)"
        (imageUpload)="onImageUpload($event)"
        (inputChanged)="onEditorInputChange($event)"
        [styling]="styling"
        [template]="template"
        folderUpload="exercises"
      >
      </active-text-editor>
    </section>
    <section>
      <section>
        <h4>Име на английски</h4>
        <mat-form-field appearance="fill">
          <mat-label>Име на английски*</mat-label>
          <input matInput required formControlName="translatedName" />
        </mat-form-field>
      </section>
      <section>
        <h4>Избери уреди</h4>
        <active-select
          label="Уреди"
          [selectableItems]="equipment"
          [control]="form.controls.equipment"
          [multiple]="true"
        ></active-select>
      </section>
      <section>
        <h4>Избери основни мускулни групи</h4>
        <active-select
          label="Мускулни групи"
          [selectableItems]="muscleGroups"
          [control]="form.controls.mainMuscleGroupsIds"
          [multiple]="true"
        ></active-select>
      </section>
      <section>
        <h4>Избери допълнителни мускулни групи</h4>
        <active-select
          label="Мускулни групи"
          [selectableItems]="muscleGroups"
          [control]="form.controls.synergisticMuscleGroupsIds"
          [multiple]="true"
        ></active-select>
      </section>
      <section>
        <h4>Вариации</h4>
        <active-auto-complete
          label="Вариации"
          placeholder="Търси вариации"
          [control]="form.controls.variations"
          [items]="variations"
          (onFieldInput)="onInput($event)"
        ></active-auto-complete>
      </section>
      <active-raised-button
        type="submit"
        color="primary"
        text="Създай"
      ></active-raised-button>
    </section>
  </div>
</form>
