.container {
    display: flex;
    padding: 2rem 4rem;
}

.side-bar {
    padding-right: 2rem;
}

.body-measurements {
    display: flex;
    flex-direction: row;
}

.measurement {
    padding-right: 0.5rem;
}