@use "variables" as *;

.container {
  display: flex;
  padding: 2rem 4rem;
}

.main-body {
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  width: 100%;

  .checklist,
  .info {
    flex-grow: 1;
    flex-basis: calc(100% / 2);
  }
}

h3 {
  text-align: center;
  font-weight: 500;
}

section {
  padding: $one-rem;
}
