@use 'variables' as *;

.main-body {
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  width: $max-size;

  .checklist,
  .info {
    flex-grow: 1;
    flex-basis: calc($max-size / 2);
  }
}

h3 {
  text-align: center;
  font-weight: 500;
}

section {
  padding: $one-rem;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $half-size;
}

.chart {
  display: block;
  width: $max-size;
}
