<div class="container">
  <active-side-bar [isWorkout]="true"></active-side-bar>
  <div class="main-body">
    <div class="checklist">
      <active-todo-list
        *ngIf="todoItems$ | async as items; else loading"
        [todoItems]="items"
        (itemChecked)="onItemChecked($event)"
        (itemCreated)="onItemCreated($event)"
        (itemDeleted)="onItemDeleted($event)"
        (itemEdited)="onItemEdited($event)"
      ></active-todo-list>
    </div>
    <div class="info">
      <section>
        <h3 class="dark-gray-text">Тренировки</h3>
        <active-bar-chart class="chart" [data]="data"></active-bar-chart>
      </section>
      <section>
        <h3 class="dark-gray-text">Моята информация</h3>
        <active-user-details [user]="user" (calculateBmi)="onCalculateBmi()"></active-user-details>
      </section>
    </div>
  </div>
</div>

<ng-template #loading>
  <active-spinner class="centered"></active-spinner>
</ng-template>
