<div class="container">
  <active-side-bar [isWorkout]="true"></active-side-bar>
  <div class="main-body">
    <div class="checklist">
      <section>
        <div class="checklist-header">
          <h3 class="dark-gray-text">Задачи за деня</h3>
          <button
            mat-icon-button
            color="primary"
            aria-label="Add item to checklist"
          >
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
        <active-check-list></active-check-list>
      </section>
    </div>
    <div class="info">
      <section>
        <h3 class="dark-gray-text">Тренировки</h3>
        <active-bar-chart [data]="data"></active-bar-chart>
      </section>
      <section>
        <h3 class="dark-gray-text">Моята информация</h3>
        <active-user-details></active-user-details>
      </section>
    </div>
  </div>
</div>
