@use 'variables' as *;
$shadow: rgba(205, 210, 214, 0.8);
.btn {
  align-items: center;
  color: $light-gray;
  display: flex;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  &:hover {
    border-color: $light-gray;
  }
}

.tooltip {
  width: 20px;
  height: 20px;
  &:hover {
    cursor: pointer;
  }
}
