.container {
    display: flex;
}

.side-bar {
  flex-basis: 30%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90rem;
  padding: 3rem;
  gap: 2rem;
}
